{% case 'Assets' %}

	<h4>Total number of assets</h4>
	<pre><code>{{
		  '{{ '
		~ sampleTag ~ '.' ~ field.handle
		~ '|length }}'
	}}</code></pre>


	<h4>Common conditional</h4>
	<pre><code>{{
		  '{% if '
		~ sampleTag ~ '.' ~ field.handle
		~ '|length %}<br/>'
		~ whitespace
		~ '...<br/>{% endif %}'
	}}</code></pre>


	<h4>Loop through assets</h4>
	<pre><code>{{
		  '{% for myAsset in '
		~ sampleTag ~ '.' ~ field.handle
		~ ' %}<br/>'
		~ whitespace
		~ '{{ myAsset.url }}<br/>{% endfor %}'
	}}</code></pre>


	<h4>Only return the first asset</h4>
	<pre><code>{{
		  '{% set myAsset = '
		~ sampleTag ~ '.' ~ field.handle
		~ '.first() %}<br/>{% if myAsset %}<br/>'
		~ whitespace
		~ '{{ myAsset.url }}<br/>{% endif %}'
	}}</code></pre>


	<h4>Adjusting the limit</h4>
	<pre><code>{{
		  '{% for block in '
		~ sampleTag ~ '.' ~ field.handle
		~ '.limit(5) %}'
	}}</code></pre>


	<h4>All asset variables</h4>
	<pre><code>{{
		  '{% set myAsset = '
		~ sampleTag ~ '.' ~ field.handle
		~ '.first() %}<br/>{% if myAsset %}<br/>'
		~ whitespace
		~ '{{ myAsset.dateCreated }}<br/>'
		~ whitespace
		~ '{{ myAsset.dateUpdated }}<br/>'
		~ whitespace
		~ '{{ myAsset.extension }}<br/>'
		~ whitespace
		~ '{{ myAsset.filename }}<br/>'
		~ whitespace
		~ '{{ myAsset.folder }}<br/>'
		~ whitespace
		~ '{{ myAsset.folderId }}<br/>'
		~ whitespace
		~ '{{ myAsset.height }}<br/>'
		~ whitespace
		~ '{{ myAsset.id }}<br/>'
		~ whitespace
		~ '{{ myAsset.img }}<br/>'
		~ whitespace
		~ '{{ myAsset.kind }}<br/>'
		~ whitespace
		~ '{{ myAsset.locale }}<br/>'
		~ whitespace
		~ '{{ myAsset.link }}<br/>'
		~ whitespace
		~ '{{ myAsset.mimeType }}<br/>'
		~ whitespace
		~ '{{ myAsset.next }}<br/>'
		~ whitespace
		~ '{{ myAsset.prev }}<br/>'
		~ whitespace
		~ '{{ myAsset.size }}<br/>'
		~ whitespace
		~ '{{ myAsset.source }}<br/>'
		~ whitespace
		~ '{{ myAsset.sourceId }}<br/>'
		~ whitespace
		~ '{{ myAsset.url }}<br/>'
		~ whitespace
		~ '{{ myAsset.width }}<br/>{% endif %}'
	}}</code></pre>


	<h4>All asset methods</h4>
	<pre><code>{{
		  '{% set myAsset = '
		~ sampleTag ~ '.' ~ field.handle
		~ '.first() %}<br/>{% if myAsset %}<br/>'
		~ whitespace
		~ '{{ myAsset.getExtension() }}<br/>'
		~ whitespace
		~ '{{ myAsset.getFolder() }}<br/>'
		~ whitespace
		~ '{{ myAsset.getHeight( transform ) }}<br/>'
		~ whitespace
		~ '{{ myAsset.getImg() }}<br/>'
		~ whitespace
		~ '{{ myAsset.getLink() }}<br/>'
		~ whitespace
		~ '{{ myAsset.getMimeType() }}<br/>'
		~ whitespace
		~ '{{ myAsset.getNext( params ) }}<br/>'
		~ whitespace
		~ '{{ myAsset.getPrev( params ) }}<br/>'
		~ whitespace
		~ '{{ myAsset.getSource() }}<br/>'
		~ whitespace
		~ '{{ myAsset.getUrl( transform ) }}<br/>'
		~ whitespace
		~ '{{ myAsset.getWidth( transform ) }}<br/>'
		~ whitespace
		~ '{{ myAsset.setTransform( transform ) }}<br/>{% endif %}'
	}}</code></pre>

	<hr/>


{% case 'Categories' %}

	<h4>Check if entry has categories</h4>
	<pre><code>{{

		  '{% if '
		~ sampleTag ~ '.' ~ field.handle
		~ '|length %}<br/>'
		~ whitespace ~ '...<br/>'
		~ '{% endif %}'
	}}</code></pre>


	<h4>Rename for easier access</h4>
	<pre><code>{{
		  '{% set categories = '
		~ sampleTag ~ '.' ~ field.handle
		~ ' %}<br>'
		~ '{% if categories|length %}<br/>'
		~ whitespace ~ '&lt;h3&gt;My Categories&lt;h3/&gt;<br/>'
		~ whitespace
		~ '{% nav myCategory in categories %}<br/>'
		~ whitespace ~ whitespace ~ '...<br/>'
		~ whitespace ~ '{% endnav %}<br/>'
		~ '{% endif %}'
	}}</code></pre>


	<h4>Pass parameters to the ElementCriteria Model</h4>
	<pre><code>{{
		  '{% set myCategories = '
		~ sampleTag ~ '.' ~ field.handle
		~ '.order(\'name\') %}'
	}}</code></pre>


	<h4>Select just the first category</h4>
	<p>(particularly if it's the only category you expect)</p>
	<pre><code>{{
		  '{% set myCategory = '
		~ sampleTag ~ '.' ~ field.handle
		~ '.first() %}<br/>'
		~ '{% if myCategory %}<br/>'
		~ whitespace ~ '...<br/>'
		~ '{% endif %}'
	}}</code></pre>

	<hr/>


{% case 'Checkboxes' %}

	<h4>Field name</h4>
	<pre><code>{{
		  '{{ '
		~ sampleTag ~ '.' ~ field.handle
		~ ' }}'
	}}</code></pre>


	<h4>Single checkbox conditional</h4>
	<pre><code>{{
		  '{% if '
		~ sampleTag ~ '.' ~ field.handle
		~ '|length %} ... {% endif %}'
	}}</code></pre>


	<h4>Loop through the <em>selected</em> options</h4>
	<pre><code>{{
		'&lt;ul&gt;<br/>'
		~ whitespace ~ '{% for option in '
		~ sampleTag ~ '.' ~ field.handle
		~ ' %}<br/>'
		~ whitespace ~ whitespace
		~ '&lt;li&gt;{{ option }}&lt;/li&gt;<br/>'
		~ whitespace
		~ '{% endfor %}<br/>'
		~ '&lt;/ul&gt;'
	}}</code></pre>


	<h4>Loop through <em>all</em> of the options</h4>
	<pre><code>{{
		'&lt;ul&gt;<br/>'
		~ whitespace ~ '{% for option in '
		~ sampleTag ~ '.' ~ field.handle
		~ '.options %}<br/>'
		~ whitespace ~ whitespace
		~ '&lt;li&gt;{{ option }}&lt;/li&gt;<br/>'
		~ whitespace
		~ '{% endfor %}<br/>'
		~ '&lt;/ul&gt;'
	}}</code></pre>


	<h4>See if a specific option is selected</h4>
	<pre><code>{{
		  '{% if '
		~ sampleTag ~ '.' ~ field.handle
		~ '.contains(\'value\') %}<br/>'
		~ whitespace
		~ '...<br/>'
		~ '{% endif %}'
	}}</code></pre>

	<hr/>


{% case 'Color' %}

	<h4>Field name</h4>
	<pre><code>{{
		  '{{ '
		~ sampleTag ~ '.' ~ field.handle
		~ ' }}'
	}}</code></pre>


	<h4>"If exists" conditional</h4>
	<pre><code>{{
		  '{% if '
		~ sampleTag ~ '.' ~ field.handle
		~ '|length %} ... {% endif %}'
	}}</code></pre>

	<hr/>


{% case 'Date' %}

	<h4>Sample date formatting</h4>
	<pre><code>{{
		  '{% if '
		~ sampleTag ~ '.' ~ field.handle
		~ ' %}<br/>'
		~ whitespace
		~ '{{ '
		~ sampleTag ~ '.' ~ field.handle
		~ ' | date(\'M j, Y\') }}<br/>'
		~ '{% endif %}'
	}}</code></pre>


	<h4>Get the Unix timestamp of the date</h4>
	<pre><code>{{
		  '{{ '
		~ sampleTag ~ '.' ~ field.handle
		~ '.getTimestamp() }}'
	}}</code></pre>


	<p class="info">There are many methods you can use on date fields. More documentation available <a href="http://buildwithcraft.com/docs/templating/datetime">here</a>.</p>

	<hr/>


{% case 'Dropdown' %}

	<h4>Field name</h4>
	<pre><code>{{
		  '{{ '
		~ sampleTag ~ '.' ~ field.handle
		~ ' }}'
	}}</code></pre>


	<h4>Field label</h4>
	<pre><code>{{
		  '{{ '
		~ sampleTag ~ '.' ~ field.handle
		~ '.label }}'
	}}</code></pre>


	<h4>Loop through the options</h4>
	<pre><code>{{
		  '&lt;ul&gt;<br/>'
		~ whitespace
		~ '{% for option in '
		~ sampleTag ~ '.' ~ field.handle
		~ '.options %}<br/>'
		~ whitespace ~ whitespace
		~ '&lt;li&gt;{{ option }}&lt;/li&gt;<br/>'
		~ whitespace
		~ '{% endfor %}<br/>&lt;/ul&gt;'
	}}</code></pre>

	<hr/>


{% case 'Entries' %}

	<h4>Set your entries to a variable</h4>
	<pre><code>{{
		  '{{ set entries = '
		~ sampleTag ~ '.' ~ field.handle
		~ ' }}'
	}}</code></pre>


	<h4>Does your entries field have any entries?</h4>
	<pre><code>{{
		  '{% if '
		~ sampleTag ~ '.' ~ field.handle
		~ '|length %}<br/>'
		~ whitespace
		~ '...<br/>'
		~ '{% endif %}'
	}}</code></pre>


	<h4>A simple loop for your entries</h4>
	<pre><code>{{
		  '{% for myEntry in '
		~ sampleTag ~ '.' ~ field.handle
		~ '|length %}<br/>'
		~ whitespace
		~ '...<br/>'
		~ '{% endfor %}'
	}}</code></pre>


	<h4>Set variable, check for entries, then loop through them</h4>
	<pre><code>{{
		'{% set entries = '
		~ sampleTag ~ '.' ~ field.handle
		~ ' %}<br/>'
		~ '{% if entries|length %}<br/>'
		~ whitespace
		~ '&lt;h3&gt;List of Entries&lt;/h3&gt;<br/>'
		~ whitespace
		~ '{% for myEntry in entries %}<br/>'
		~ whitespace ~ whitespace
		~ '...<br/>'
		~ whitespace
		~ '{% endfor %}<br/>'
		~ '{% endif %}'
	}}</code></pre>


	<h4>Just grab the first entry</h4>
	<pre><code>{{
		'{% set myEntry = '
		~ sampleTag ~ '.' ~ field.handle
		~ '.first() %}<br/>'
		~ '{% if myEntry %}<br/>'
		~ whitespace
		~ '...<br/>'
		~ '{% endif %}'
	}}</code></pre>



	<hr/>


{% case 'Lightswitch' %}

	<h4>Boolean Conditional</h4>
	<pre><code>{{
		  '{% if '
		~ sampleTag ~ '.' ~ field.handle
		~ ' %} ... {% endif %}'
	}}</code></pre>

	<hr/>


{% case 'Matrix' %}

	<h4>Total number of blocks</h4>
	<pre><code>{{
		  '{{ '
		~ sampleTag ~ '.' ~ field.handle
		~ '|length }}'
	}}</code></pre>


	<h4>Loop through blocks</h4>
	<pre><code>{{
		  '{% for block in '
		~ sampleTag ~ '.' ~ field.handle
		~ ' %}<br/>'
		~ whitespace
		~ '...<br/>{% endfor %}'
	}}</code></pre>


	<h4>Filtering by block type</h4>
	<pre><code>{{
		  '{% for block in '
		~ sampleTag ~ '.' ~ field.handle
		~ '.type(\'text\') %}'
	}}</code></pre>


	<h4>Adjusting the limit</h4>
	<pre><code>{{
		  '{% for block in '
		~ sampleTag ~ '.' ~ field.handle
		~ '.limit(5) %}'
	}}</code></pre>


	<h4>All block types</h4>
	<pre><code>{{
		  '{% for block in '
		~ sampleTag ~ '.' ~ field.handle
		~ ' %}<br/>'
		~ whitespace
		~ '...<br/>{% endfor %}'
	}}</code></pre>


	<h4><em>In progress...</em></h4>
	{% for blockType in field.getFieldType().getSettings().getBlockTypes() %}
		<h5>Block: {{ blockType.name }} ({{ blockType.handle }})</h5>
		<p><strong>Details:</strong></p>
		<ul>
		{% for matrixField in blockType.getFields() %}
			<li>{{ matrixField.name }} ({{ matrixField.handle }})</li>
		{% endfor %}
		</ul>
	{% endfor %}

	<hr/>


{% case 'MultiSelect' %}

	<h4>Loop through the <em>selected</em> options</h4>
	<pre><code>{{
		'&lt;ul&gt;<br/>'
		~ whitespace ~ '{% for option in '
		~ sampleTag ~ '.' ~ field.handle
		~ ' %}<br/>'
		~ whitespace ~ whitespace
		~ '&lt;li&gt;{{ option }}&lt;/li&gt;<br/>'
		~ whitespace
		~ '{% endfor %}<br/>'
		~ '&lt;/ul&gt;'
	}}</code></pre>


	<h4>Loop through <em>all</em> of the options</h4>
	<pre><code>{{
		'&lt;ul&gt;<br/>'
		~ whitespace ~ '{% for option in '
		~ sampleTag ~ '.' ~ field.handle
		~ '.options %}<br/>'
		~ whitespace ~ whitespace
		~ '&lt;li&gt;{{ option }}&lt;/li&gt;<br/>'
		~ whitespace
		~ '{% endfor %}<br/>'
		~ '&lt;/ul&gt;'
	}}</code></pre>


	<h4>See if a specific option is selected</h4>
	<pre><code>{{
		  '{% if '
		~ sampleTag ~ '.' ~ field.handle
		~ '.contains(\'value\') %}<br/>'
		~ whitespace
		~ '...<br/>'
		~ '{% endif %}'
	}}</code></pre>

	<hr/>


{% case 'Number' %}

	<h4>Field name</h4>
	<pre><code>{{
		  '{{ '
		~ sampleTag ~ '.' ~ field.handle
		~ ' }}'
	}}</code></pre>


	<h4>Comparison conditional</td></h4>
	<pre><code>{{
		  '{% if '
		~ sampleTag ~ '.' ~ field.handle
		~ ' > 0 %} ... {% endif %}'
	}}</code></pre>


	<h4>Operations</h4>
	<pre><code>{{
		  '{% set myResult = 42 * '
		~ sampleTag ~ '.' ~ field.handle
		~ ' %}'
		~ '<br/><br/>The total is {{ myResult }}'
	}}</code></pre>

	<hr/>


{% case 'PlainText' %}

	<h4>Field name</h4>
	<pre><code>{{
		  '{{ '
		~ sampleTag ~ '.' ~ field.handle
		~ ' }}'
	}}</code></pre>


	<h4>"If exists" conditional</h4>
	<pre><code>{{
		  '{% if '
		~ sampleTag ~ '.' ~ field.handle
		~ '|length %} ... {% endif %}'
	}}</code></pre>

	<hr/>


{% case 'PositionSelect' %}

	<h4>Adding to a class name</h4>
	<pre><code>{{
		  '&lt;div class="block {{ '
		~ sampleTag ~ '.' ~ field.handle
		~ ' }}"&gt;'
	}}</code></pre>


	<h4>Conditionals around position values</h4>
	<pre><code>{{
		  '{% if '
		~ sampleTag ~ '.' ~ field.handle
		~ ' in [\'left\', \'right\'] %}<br/>'
		~ whitespace
		~ '{# ... #}<br/>'
		~ '{% elseif '
		~ sampleTag ~ '.' ~ field.handle
		~ ' == \'center\' %}<br/>'
		~ whitespace
		~ '{# ... #}<br/>'
		~ '{% endif %}'
	}}</code></pre>


	<h4>Switch statement for all values</h4>
	<pre><code>{{
		  '{% switch '
		~ sampleTag ~ '.' ~ field.handle
		~ ' %}<br/>'
		~ whitespace
		~ '{% case \'left\' %}<br/>'
		~ whitespace ~ whitespace
		~ '{# ... #}<br/>'
		~ whitespace
		~ '{% case \'center\' %}<br/>'
		~ whitespace ~ whitespace
		~ '{# ... #}<br/>'
		~ whitespace
		~ '{% case \'right\' %}<br/>'
		~ whitespace ~ whitespace
		~ '{# ... #}<br/>'
		~ whitespace
		~ '{% case \'full\' %}<br/>'
		~ whitespace ~ whitespace
		~ '{# ... #}<br/>'
		~ whitespace
		~ '{% case \'drop-left\' %}<br/>'
		~ whitespace ~ whitespace
		~ '{# ... #}<br/>'
		~ whitespace
		~ '{% case \'drop-right\' %}<br/>'
		~ whitespace ~ whitespace
		~ '{# ... #}<br/>'
		~ '{% endswitch %}'
	}}</code></pre>

	<hr/>


{% case 'RadioButtons' %}

	<h4>The Selected value's option</h4>
	<pre><code>{{
		  '{{ '
		~ sampleTag ~ '.' ~ field.handle
		~ ' }}'
	}}</code></pre>


	<h4>The Selected value's label</h4>
	<pre><code>{{
		  '{{ '
		~ sampleTag ~ '.' ~ field.handle
		~ '.label }}'
	}}</code></pre>


	<h4>Loop through all available options</h4>
	<pre><code>{{
		'&lt;ul&gt;<br/>'
		~ whitespace ~ '{% for option in '
		~ sampleTag ~ '.' ~ field.handle
		~ '.options %}<br/>'
		~ whitespace ~ whitespace
		~ '&lt;li&gt;{{ option }}&lt;/li&gt;<br/>'
		~ whitespace
		~ '{% endfor %}<br/>'
		~ '&lt;/ul&gt;'
	}}</code></pre>

	<hr/>


{% case 'RichText' %}

	<h4>Field name</h4>
	<pre><code>{{
		  '{{ '
		~ sampleTag ~ '.' ~ field.handle
		~ ' }}'
	}}</code></pre>


	<h4>"If exists" conditional</h4>
	<pre><code>{{
		  '{% if '
		~ sampleTag ~ '.' ~ field.handle
		~ '|length %} ... {% endif %}'
	}}</code></pre>

	<hr/>


{% case 'Tags' %}

	<h4>Set a variable for future template use</h4>
	<pre><code>{{
		  '{% set myTags = '
		~ sampleTag ~ '.' ~ field.handle
		~ ' %}'
	}}</code></pre>


	<h4>Check if any tags exist</h4>
	<pre><code>{{
		  '{% if '
		~ sampleTag ~ '.' ~ field.handle
		~ '|length %} ... {% endif %}'
	}}</code></pre>


	<h4>Loop through the selected tags</h4>
	<pre><code>{{
		  '{% for myTag in '
		~ sampleTag ~ '.' ~ field.handle
		~ ' %}<br/>'
		~ whitespace
		~ '...<br/>'
		~ '{% endfor %}'
	}}</code></pre>


	<h4>Order by parameters</h4>
	<pre><code>{{
		'{% set myTags = '
		~ sampleTag ~ '.' ~ field.handle
		~ '.order(\'title\') %}'
	}}</code></pre>


	<h4>Avoid a loop if your field limits to 1 user</h4>
	<pre><code>{{
		  '{% if '
		~ sampleTag ~ '.' ~ field.handle
		~ '.first() %}<br/>'
		~ whitespace
		~ '...<br/>'
		~ '{% endif %}'
	}}</code></pre>

	<hr/>


{% case 'Users' %}

	<h4>Set a variable for future template use</h4>
	<pre><code>{{
		  '{% set myUsers = '
		~ sampleTag ~ '.' ~ field.handle
		~ ' %}'
	}}</code></pre>


	<h4>Check if any users were selected</h4>
	<pre><code>{{
		  '{% if '
		~ sampleTag ~ '.' ~ field.handle
		~ '|length %} ... {% endif %}'
	}}</code></pre>


	<h4>Loop through the selected users</h4>
	<pre><code>{{
		  '{% for myUser in '
		~ sampleTag ~ '.' ~ field.handle
		~ ' %}<br/>'
		~ whitespace
		~ '...<br/>'
		~ '{% endfor %}'
	}}</code></pre>


	<h4>Filter by parameters</h4>
	<pre><code>{{
		'{% set authors = '
		~ sampleTag ~ '.' ~ field.handle
		~ '.group(\'groupName\') %}'
	}}</code></pre>


	<h4>Avoid a loop if your field limits to 1 user</h4>
	<pre><code>{{
		'{% set myUser = '
		~ sampleTag ~ '.' ~ field.handle
		~ '.first() %}<br/>'
		~ '{% if myUser %}<br/>'
		~ whitespace
		~ '...<br/>'
		~ '{% endif %}'
	}}</code></pre>