@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Merriweather:400,300|Inconsolata);
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Verdana, sans-serif;
}

.clear {
  clear: both;
}

.contain {
  max-width: 62.5em;
  margin: 0 auto;
}

/* http://prismjs.com/download.html?themes=prism */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #fffedf;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #fffedf;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  overflow: auto;
}

/* Inline code */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #93a1a1;
}

.token.punctuation,
.token.attr-name {
  color: #657b83;
}

.namespace {
  opacity: .7;
}

.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.number {
  color: #d33682;
}

.token.boolean {
  color: #b58900;
}

.token.tag,
.token.property {
  color: #268bd2;
}

.token.selector,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.string,
.token.attr-value {
  color: #2aa198;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

.token.atrule {
  color: #07a;
}

.token.keyword,
.token.operator {
  color: #859900;
}

.token.function {
  color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

html {
  min-width: 50em;
}

header.main {
  position: relative;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translate3d(0, 0, 0);
}

header.main .header_bg {
  width: 100%;
  padding: 2em 1em 0;
  background: #ff3333;
}

header.main .heading {
  float: left;
  margin-bottom: .5em;
}

header.main h1 {
  float: left;
  color: white;
  margin: 0;
  font-family: "Merriweather", Palatino, Georgia, serif;
  font-weight: 400;
  font-size: 1em;
  text-transform: uppercase;
}

header.main h1 span {
  display: none;
  position: relative;
  margin: 0 1em;
  font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Verdana, sans-serif;
  font-weight: 300;
  font-size: .454545455em;
  top: -.35em;
}

header.main .craft_logo {
  display: none;
  position: relative;
  float: left;
  width: 2.75em;
  top: .25em;
}

header.main .focus_logo {
  display: none;
  position: absolute;
  top: 50%;
  right: 1em;
  width: 1.875em;
  margin-top: -.9375em;
}

@media (min-width: 25.625em) {
  header.main .header_bg {
    padding: 2em 3.75em 0 1em;
  }
  header.main h1 {
    font-size: 1.375em;
  }
  header.main .focus_logo {
    display: block;
  }
}

@media (min-width: 32em) {
  header.main h1 span {
    display: inline-block;
  }
  header.main .craft_logo {
    display: block;
  }
}

@media (min-width: 72.5em) {
  header.main .header_bg {
    padding: 2em 1em 0;
  }
}

nav.element_type {
  clear: both;
}

nav.element_type ul.types {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav.element_type ul.types > li {
  float: left;
  margin-right: 1.5em;
}

nav.element_type ul.types > li:last-child {
  margin-right: 0;
}

nav.element_type ul.types > li label {
  position: relative;
  display: block;
  color: white;
  font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Verdana, sans-serif;
  font-weight: 300;
  font-size: .875em;
  text-decoration: none;
  padding-bottom: 2.285714286em;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

nav.element_type ul.types > li label:hover {
  color: rgba(255, 255, 255, 0.8);
}

nav.element_type ul.types > li label::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -.5em;
  border: .5em solid transparent;
  border-top: none;
  border-bottom-color: rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
}

nav.element_type ul.types > li input[type="radio"] {
  position: absolute;
  left: -9999em;
}

nav.element_type ul.types > li a {
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

nav.element_type ul.types > li a:hover {
  color: rgba(255, 255, 255, 0.8);
}

nav.element_type ul.types > li .element_type_tab {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 1em;
  background: #ff3333;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
}

nav.element_type ul.types > li .element_type_tab::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

nav.element_type ul.types > li input[type="radio"]:checked ~ label:after {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

nav.element_type ul.types > li input[type="radio"]:checked ~ .element_type_tab {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

nav.element_type ul.types > li ul {
  list-style-type: none;
  margin: 0;
  padding: 1em 0;
}

nav.element_type ul.types > li ul li {
  display: inline-block;
  font-size: .875em;
  margin-right: 1em;
}

nav.element_type ul.types > li ul li a {
  float: left;
  text-decoration: none;
  color: white;
  font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Verdana, sans-serif;
  font-weight: 300;
  padding: .5em 0;
  border-radius: 3em;
  -webkit-transition: padding .3s ease, background .3s ease, color .3s ease;
  transition: padding .3s ease, background .3s ease, color .3s ease;
}

nav.element_type ul.types > li ul li a.activeContext {
  background: rgba(0, 0, 0, 0.1);
  padding: .5em 1em;
}

nav.element_type ul.types > li ul li.custom_input {
  display: block;
  margin-right: 0;
}

nav.element_type ul.types > li ul li.custom_input .input_contain {
  position: relative;
  margin-bottom: 1em;
}

nav.element_type ul.types > li ul li.custom_input .input_contain input[type="text"] {
  border: none;
  background: white;
  outline: none;
  display: block;
  font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Verdana, sans-serif;
  font-size: 1em;
  padding: .75em 3.75em .75em .75em;
  font-weight: 300;
  width: 100%;
  min-width: 17em;
  margin: 0;
  border-radius: .4em;
  -webkit-box-shadow: 0 0.14286em 0.35714em 0 rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 0.14286em 0.35714em 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 0.14286em 0.35714em 0 rgba(0, 0, 0, 0.06);
}

nav.element_type ul.types > li ul li.custom_input .input_contain input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  color: white;
  background: #ff3333;
  font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Verdana, sans-serif;
  font-size: 1em;
  font-weight: 400;
  padding: .75em 1.5em;
  border: none;
  outline: none;
  margin: 0;
  border-radius: 0 .4em .4em 0;
}

nav.element_type ul.types > li ul li.custom_element {
  position: relative;
}

nav.element_type ul.types > li ul li.custom_element .remove_custom {
  position: absolute;
  opacity: 0;
  top: 45%;
  right: 1em;
  font-weight: 400;
  color: white;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

nav.element_type ul.types > li ul li.custom_element a:hover {
  background: rgba(0, 0, 0, 0.1);
  padding: .5em 2.25em .5em 1em;
}

nav.element_type ul.types > li ul li.custom_element a:hover .remove_custom {
  opacity: 1;
}

@media (min-width: 37.5em) {
  nav.element_type ul.types > li ul li.custom_input {
    float: left;
    margin-right: 1.5em;
  }
  nav.element_type ul.types > li ul li.custom_input .input_contain {
    margin-bottom: 0;
  }
  nav.element_type ul.types > li ul li.custom_element {
    margin-top: .25em;
    margin-bottom: .4em;
  }
}

@media (min-width: 50em) {
  nav.element_type {
    clear: none;
    float: right;
  }
  nav.element_type ul.types {
    float: right;
  }
  nav.element_type ul.types > li label {
    padding-bottom: 2.5em;
  }
  nav.element_type ul.types > li .element_type_tab {
    overflow: hidden;
    padding: 0 3.75em 0 1em;
  }
  nav.element_type ul.types > li ul {
    float: right;
  }
  nav.element_type ul.types > li ul li {
    margin-right: 0;
    margin-left: 2em;
  }
  nav.element_type ul.types > li ul li.custom_input {
    float: right;
    margin-right: 0;
  }
  nav.element_type ul.types > li ul li.custom_element {
    float: right;
  }
}

@media (min-width: 72.5em) {
  nav.element_type ul.types > li .element_type_tab {
    padding: 0 1em;
  }
}

.content {
  padding: 0 1em;
}

.content .contain {
  position: relative;
}

.content .contain::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15.9375em;
  max-width: 80%;
  height: 100%;
  border-right: 1px solid #dfdfdf;
}

aside {
  position: absolute;
  top: 0;
  left: 0;
  width: 15.9375em;
  max-width: 80%;
}

aside::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 15.9375em;
  height: 100%;
  border-right: 1px solid #dfdfdf;
}

aside .fields_contain {
  padding: 7em 20% 6em 0;
  width: 100%;
}

aside h2 {
  font-family: "Merriweather", Palatino, Georgia, serif;
  font-size: 1.375em;
  font-weight: 400;
  color: #d5d4d4;
  margin-top: 0;
}

aside input[type="text"] {
  width: 100%;
  border: 1px solid #dfdfdf;
  padding: 1em;
  margin-bottom: 1em;
  background: white;
  outline: none;
  font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Verdana, sans-serif;
  font-size: .75em;
  font-weight: 300;
  border-radius: .4em;
}

aside ul {
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
  font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Verdana, sans-serif;
}

aside ul.hidden {
  display: none;
}

aside ul li {
  color: #4a4a4a;
  font-weight: 400;
  margin-bottom: .5em;
}

aside ul li.hidden {
  display: none;
}

aside ul li input[type="checkbox"] {
  position: absolute;
  left: -9999em;
}

aside ul li label {
  cursor: pointer;
  position: relative;
  display: block;
  font-weight: 700;
  font-size: .875em;
}

aside ul li label::after {
  content: "+";
  position: absolute;
  top: 0;
  right: .5em;
}

aside ul li a {
  color: #4a4a4a;
  font-size: .875em;
  text-decoration: none;
}

aside ul li ul {
  margin-top: .5em;
  padding-left: 1.5em;
  max-height: 0;
  -webkit-transition: max-height .3s ease;
  transition: max-height .3s ease;
  overflow: hidden;
}

aside ul li input[type="checkbox"]:checked ~ ul {
  max-height: 30em;
}

aside ul li input[type="checkbox"]:checked ~ label::after {
  content: "-";
}

.main_body {
  padding: 7em 0 3em 15.9375em;
}

.main_body p.notice {
  font-size: .875em;
  border: 1px solid #db5858;
  border-radius: .25em;
  background: #ffb2b2;
  padding: 1em;
}

.field_block, #no_results {
  padding-left: 11.0067114%;
  margin-bottom: 4.5em;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.field_block.hidden, #no_results.hidden {
  display: none;
}

.field_block header, #no_results header {
  overflow: hidden;
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid #dfdfdf;
}

.field_block header h1, #no_results header h1 {
  font-size: 2em;
  font-family: "Merriweather", Palatino, Georgia, serif;
  font-weight: 400;
  color: #4a4a4a;
  margin: 0;
}

.field_block header h1 span, #no_results header h1 span {
  display: block;
  font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Verdana, sans-serif;
  font-size: .375em;
  font-weight: 700;
  text-transform: uppercase;
  color: #b5b5b5;
  letter-spacing: 1;
}

.field_block header h1 span span, #no_results header h1 span span {
  display: inline;
  font-size: 1em;
  color: #000;
}

.field_block header .field_settings, #no_results header .field_settings {
  list-style-type: none;
  margin: 1em 0 0;
  padding: 0;
}

.field_block header .field_settings li, #no_results header .field_settings li {
  display: block;
  margin-bottom: .5em;
}

.field_block header .field_settings li:last-child, #no_results header .field_settings li:last-child {
  margin-bottom: 0;
}

.field_block header .field_settings li a, #no_results header .field_settings li a {
  text-decoration: none;
  color: #fe4444;
  font-size: .8125em;
  font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Verdana, sans-serif;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.field_block header .field_settings li a:hover, #no_results header .field_settings li a:hover {
  color: #db0101;
}

.field_block .code_block, #no_results .code_block {
  margin-bottom: 2.5em;
}

.field_block h3, #no_results h3 {
  color: #4a4a4a;
  text-transform: uppercase;
  font-size: .75em;
  font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Verdana, sans-serif;
  margin-bottom: 1em;
  font-weight: 700;
}

.field_block .description, #no_results .description {
  position: relative;
  border: 1px solid #dfdfdf;
  border-radius: .25em .25em 0 0;
  background: white;
  padding: 1em;
  margin-bottom: -.25em;
}

.field_block .description p, #no_results .description p {
  margin: 0;
  font-size: .875em;
  line-height: 1.5em;
  font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Verdana, sans-serif;
  color: #4a4a4a;
}

.field_block .extra, #no_results .extra {
  border: 1px solid #d8d891;
  border-radius: .25em;
  background: #fdfddb;
  padding: 1em;
}

.field_block .extra a, .field_block .extra a:visited, #no_results .extra a, #no_results .extra a:visited {
  color: #fe4444;
}

.field_block .extra > p, #no_results .extra > p {
  margin-top: 0;
}

.field_block .extra p, #no_results .extra p {
  font-size: .875em;
}

.field_block .extra p:last-of-type, #no_results .extra p:last-of-type {
  margin-bottom: 0;
}

.field_block header + .extra, #no_results header + .extra {
  margin-bottom: 2.5em;
}

.field_block .code, #no_results .code {
  position: relative;
}

.field_block .code .copy, #no_results .code .copy {
  position: absolute;
  top: 50%;
  left: -2.25em;
  cursor: pointer;
  width: 1.5em;
  opacity: .7;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.field_block .code .copy .copy_label, #no_results .code .copy .copy_label {
  position: absolute;
  top: 0;
  left: 50%;
  background: #fffedf;
  border: 1px solid #edeccb;
  color: #858585;
  font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Verdana, sans-serif;
  font-size: .5em;
  text-transform: uppercase;
  padding: .25em .5em;
  border-radius: .4em;
  white-space: nowrap;
  opacity: 0;
  -webkit-box-shadow: 0 0.5em 0.5em 0 rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 0.5em 0.5em 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 0.5em 0.5em 0 rgba(0, 0, 0, 0.06);
  -webkit-transform: translate(-50%, -2.5em);
  transform: translate(-50%, -2.5em);
  -webkit-transition: opacity .3s ease, -webkit-transform .3s ease;
  transition: opacity .3s ease, transform .3s ease;
}

.field_block .code .copy:hover, #no_results .code .copy:hover {
  opacity: 1;
}

.field_block .code .copy:hover .copy_label, #no_results .code .copy:hover .copy_label {
  opacity: 1;
  -webkit-transform: translate(-50%, -3.25em);
  transform: translate(-50%, -3.25em);
}

.field_block .code .copy svg, #no_results .code .copy svg {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

.field_block .code pre, #no_results .code pre {
  border: 1px solid #dfdfdf;
  border-radius: .25em;
  background: #f6f6f6;
  padding: 1em;
  margin: 0;
}

.field_block code, #no_results code {
  padding: 0;
  margin: 0;
  font-family: "Inconsolata", "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  line-height: 1.5em;
}

.field_block pre > code, #no_results pre > code {
  display: block;
  white-space: pre;
}

@media (min-width: 43.75em) {
  .field_block header .field_settings li, #no_results header .field_settings li {
    float: left;
    margin-right: 1.5em;
  }
  .field_block header .field_settings li:last-child, #no_results header .field_settings li:last-child {
    margin-right: 0;
  }
}

@media (min-width: 53em) {
  .field_block header, #no_results header {
    position: relative;
  }
  .field_block header .field_settings, #no_results header .field_settings {
    position: absolute;
    bottom: 1em;
    right: 0;
  }
  .field_block header .field_settings li, #no_results header .field_settings li {
    margin-bottom: 0;
  }
}

.table_contain {
  overflow: hidden;
  border-radius: .25em;
  border: 1px solid #dfdfdf;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Verdana, sans-serif;
}

table tr {
  border-bottom: 1px solid #dfdfdf;
}

table tr:last-child {
  border-bottom: none;
}

table tr th {
  text-align: left;
  background: #f6f6f6;
}

table tr th, table tr td {
  padding: 1em;
  font-size: .875em;
  border: none;
  border-right: 1px solid #dfdfdf;
}

table tr th:last-child, table tr td:last-child {
  border-right: none;
}

table tr:nth-child(even) {
  background: #f6f6f6;
}

table tr pre {
  margin: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 1em;
}

footer .contain {
  position: relative;
}

footer .footer_content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 15.9375em;
  max-width: 80%;
  padding: 1.5em 1em 1.5em 0;
  background: white;
  border-top: 1px solid #dfdfdf;
}

footer .footer_content::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 15.9375em;
  height: 100%;
  border-right: 1px solid #dfdfdf;
}

footer .footer_content p {
  color: #b5b5b5;
  text-transform: uppercase;
  font-size: .625em;
  line-height: 1.5em;
  font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Verdana, sans-serif;
  margin: 0;
}

footer .footer_content p a {
  color: #fe4444;
  text-decoration: none;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

footer .footer_content p a:hover {
  color: #db0101;
}

#no_results p {
  text-align: center;
  background-position: bottom center;
  background-repeat: no-repeat;
  padding: 0 50px 360px;
}

#no_results p a {
  text-decoration: none;
  color: #fe4444;
}

@-webkit-keyframes lookAtMeInputFade {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #fffedf;
  }
  100% {
    background-color: #fff;
  }
}

@-moz-keyframes lookAtMeInputFade {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #fffedf;
  }
  100% {
    background-color: #fff;
  }
}

@keyframes lookAtMeInputFade {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #fffedf;
  }
  100% {
    background-color: #fff;
  }
}

.lookAtMeInput {
  -webkit-animation: lookAtMeInputFade .75s ease-in-out;
  -moz-animation: lookAtMeInputFade .75s ease-in-out;
  animation: lookAtMeInputFade .75s ease-in-out;
}

@-webkit-keyframes lookAtMeCodeFade {
  0% {
    background-color: #f6f6f6;
  }
  50% {
    background-color: #dbffdc;
  }
  100% {
    background-color: #f6f6f6;
  }
}

@-moz-keyframes lookAtMeCodeFade {
  0% {
    background-color: #f6f6f6;
  }
  50% {
    background-color: #dbffdc;
  }
  100% {
    background-color: #f6f6f6;
  }
}

@keyframes lookAtMeCodeFade {
  0% {
    background-color: #f6f6f6;
  }
  50% {
    background-color: #dbffdc;
  }
  100% {
    background-color: #f6f6f6;
  }
}

.lookAtMeCode {
  -webkit-animation: lookAtMeCodeFade 1s ease-in-out;
  -moz-animation: lookAtMeCodeFade 1s ease-in-out;
  animation: lookAtMeCodeFade 1s ease-in-out;
}
