{#
	You're in the middle of a Craft {% switch %} statement.

	http://buildwithcraft.com/docs/templating/switch

	Start off your snippet with a case match for your field's
	proper name (case-sensitive). Then build our your code snippets
	with an {{ csMacro.codeBlock(' tag and <pre><code></code></pre> tag blog per snippet.
	Make sure you follow the syntax examples here:

	TODO: github wiki link

	Note that this twig comment blog will be stripped before
	the final /cheatsheet.html file is built
#}

{% case 'Matrix' %}

	{{ csMacro.codeBlock('Total number of blocks', '
		{{ '
		~ sampleTag ~ '.' ~ field.handle
		~ '|length }}'
	)}}


	{{ csMacro.codeBlock('Loop through blocks', '
		{% for block in '
		~ sampleTag ~ '.' ~ field.handle
		~ ' %}\n'
		~ whitespace
		~ '...\n{% endfor %}'
	)}}


	{{ csMacro.codeBlock('Filtering by block type', '
		{% for block in '
		~ sampleTag ~ '.' ~ field.handle
		~ '.type(\'text\') %}'
	)}}


	{{ csMacro.codeBlock('Adjusting the limit', '
		{% for block in '
		~ sampleTag ~ '.' ~ field.handle
		~ '.limit(5) %}'
	)}}


	{{ csMacro.codeBlock('All block types', '
		{% for block in '
		~ sampleTag ~ '.' ~ field.handle
		~ ' %}\n'
		~ whitespace
		~ '...\n{% endfor %}'
	)}}


	{{ csMacro.codeBlock('<em>In progress...</em>', '
		{% for blockType in field.getFieldType().getSettings().getBlockTypes() %}
		<h5>Block: {{ blockType.name }} ({{ blockType.handle }})</h5>
		<p><strong>Details:</strong></p>
		<ul>
		{% for matrixField in blockType.getFields() %}
			<li>{{ matrixField.name }} ({{ matrixField.handle }})</li>
		{% endfor %}
		</ul>
	{% endfor %}