{#
	You're in the middle of a Craft {% switch %} statement.

	http://buildwithcraft.com/docs/templating/switch

	Start off your snippet with a case match for your field's
	proper name (case-sensitive). Then build our your code snippets
	with an {{ csMacro.codeBlock(' tag and <pre><code></code></pre> tag blog per snippet.
	Make sure you follow the syntax examples here:

	TODO: github wiki link

	Note that this twig comment blog will be stripped before
	the final /cheatsheet.html file is built
#}

{% case 'Categories' %}

	{{ csMacro.codeBlock('Check if entry has categories', '
		{% if '
		~ sampleTag ~ '.' ~ field.handle
		~ '|length %}\n'
		~ whitespace ~ '...\n'
		~ '{% endif %}'
	)}}


	{{ csMacro.codeBlock('Rename for easier access', '
		{% set categories = '
		~ sampleTag ~ '.' ~ field.handle
		~ ' %}<br>'
		~ '{% if categories|length %}\n'
		~ whitespace ~ '<h3>My Categories<h3/>\n'
		~ whitespace
		~ '{% nav myCategory in categories %}\n'
		~ whitespace ~ whitespace ~ '...\n'
		~ whitespace ~ '{% endnav %}\n'
		~ '{% endif %}'
	)}}


	{{ csMacro.codeBlock('Pass parameters to the ElementCriteria Model', '
		{% set myCategories = '
		~ sampleTag ~ '.' ~ field.handle
		~ '.order(\'name\') %}'
	)}}


	{{ csMacro.codeBlock('Select just the first category', '
		{% set myCategory = '
		~ sampleTag ~ '.' ~ field.handle
		~ '.first() %}\n'
		~ '{% if myCategory %}\n'
		~ whitespace ~ '...\n'
		~ '{% endif %}'
	, '(particularly if it\'s the only category you expect)')}}