{#
	You're in the middle of a Craft {% switch %} statement.

	http://buildwithcraft.com/docs/templating/switch

	Start off your snippet with a case match for your field's
	proper name (case-sensitive). Then build our your code snippets
	with an {{ csMacro.codeBlock(' tag and <pre><code></code></pre> tag blog per snippet.
	Make sure you follow the syntax examples here:

	TODO: github wiki link

	Note that this twig comment blog will be stripped before
	the final /cheatsheet.html file is built
#}

{% case 'Entries' %}

	{{ csMacro.codeBlock('Set your entries to a variable', '
		{% set entries = '
		~ sampleTag ~ '.' ~ field.handle
		~ ' %}'
	)}}


	{{ csMacro.codeBlock('Does your entries field have any entries?', '
		{% if '
		~ sampleTag ~ '.' ~ field.handle
		~ '|length %}\n'
		~ whitespace
		~ '...\n'
		~ '{% endif %}'
	)}}


	{{ csMacro.codeBlock('A simple loop for your entries', '
		{% for myEntry in '
		~ sampleTag ~ '.' ~ field.handle
		~ '|length %}\n'
		~ whitespace
		~ '...\n'
		~ '{% endfor %}'
	)}}


	{{ csMacro.codeBlock('Set variable, check for entries, then loop through them', '
		{% set entries = '
		~ sampleTag ~ '.' ~ field.handle
		~ ' %}\n'
		~ '{% if entries|length %}\n'
		~ whitespace
		~ '<h3>List of Entries</h3>\n'
		~ whitespace
		~ '{% for myEntry in entries %}\n'
		~ whitespace ~ whitespace
		~ '...\n'
		~ whitespace
		~ '{% endfor %}\n'
		~ '{% endif %}'
	)}}


	{{ csMacro.codeBlock('Just grab the first entry', '
		{% set myEntry = '
		~ sampleTag ~ '.' ~ field.handle
		~ '.first() %}\n'
		~ '{% if myEntry %}\n'
		~ whitespace
		~ '...\n'
		~ '{% endif %}'
	)}}