{%- macro cs_Matrix(data) %}

	{{ _self.codeBlock('Total number of blocks', '
		{{ ' ~ data.sampleTag ~ '|length }}'
	)}}


	{{ _self.codeBlock('Loop through blocks', '
		{% for block in ' ~ data.sampleTag ~ ' %}\n'
		~ data.whitespace ~ '...\n{'
		~ '% endfor %}'
	)}}


	{{ _self.codeBlock('Filtering by block type', '
		{% for block in ' ~ data.sampleTag ~ '.type(\'text\') %}'
	)}}


	{{ _self.codeBlock('Adjusting the limit', '
		{% for block in ' ~ data.sampleTag ~ '.limit(5) %}'
	)}}


	{#
	   We need to pass a single string through the next .codeBlock macro
	   so we're going to build our list of blocks and tags before
	   we build out the full code snippet string to pass through
	#}
	{%- set blockCode -%}

		{%- for blockType in data.field.getFieldType().getSettings().getBlockTypes() -%}

			{%- set blockFieldCode -%}

				{%- for matrixField in blockType.getFields() -%}
					{{-
						data.whitespace ~ data.whitespace ~ data.whitespace
						~ '{{ block.' ~ matrixField.handle ~ ' }} '
						~ '{# Type: ' ~ matrixField.type|replace('_', ' ')|replace('/(.)([A-Z])/', '$1 $2')|title ~ ' #}\n'
					-}}
				{%- endfor -%}

			{%- endset -%}

			{{-
				data.whitespace ~ data.whitespace
				~ '{% case "' ~ blockType.handle ~ '" %}\n'
				~ blockFieldCode
				~ '\n'
			-}}

		{%- endfor -%}

	{%- endset -%}


	{{ _self.codeBlock('All block types with fields', '
		{% for block in ' ~ data.sampleTag ~ ' %}\n'
		~ data.whitespace ~ '{% switch block.type %}\n\n'
		~ blockCode
		~ data.whitespace ~ data.whitespace
		~ '{% default %}\n'
		~ data.whitespace ~ data.whitespace ~ data.whitespace
		~ '...\n\n'
		~ data.whitespace
		~ '{% endswitch %}\n'
		~ '{% endfor %}'
	)}}

{% endmacro -%}