{#
	You're in the middle of a Craft {% switch %} statement.

	http://buildwithcraft.com/docs/templating/switch

	Start off your snippet with a case match for your field's
	proper name (case-sensitive). Then build our your code snippets
	with an {{ csMacro.codeBlock(' tag and <pre><code></code></pre> tag blog per snippet.
	Make sure you follow the syntax examples here:

	TODO: github wiki link

	Note that this twig comment blog will be stripped before
	the final /cheatsheet.html file is built
#}

{%- macro cs_MultiSelect(data) %}

	{{ _self.codeBlock('Loop through the <em>selected</em> options', '
		<ul>\n'
		~ data.whitespace ~ '{% for option in '
		~ data.sampleTag
		~ ' %}\n'
		~ data.whitespace ~ data.whitespace
		~ '<li>{{ option }}</li>\n'
		~ data.whitespace
		~ '{% endfor %}\n'
		~ '</ul>'
	)}}


	{{ _self.codeBlock('Loop through <em>all</em> of the options', '
		<ul>\n'
		~ data.whitespace ~ '{% for option in '
		~ data.sampleTag
		~ '.options %}\n'
		~ data.whitespace ~ data.whitespace
		~ '<li>{{ option }}</li>\n'
		~ data.whitespace
		~ '{% endfor %}\n'
		~ '</ul>'
	)}}


	{{ _self.codeBlock('See if a specific option is selected', '
		{% if '
		~ data.sampleTag
		~ '.contains(\'value\') %}\n'
		~ data.whitespace
		~ '...\n'
		~ '{% endif %}'
	)}}

{% endmacro -%}