{#
	You're in the middle of a Craft {% switch %} statement.

	http://buildwithcraft.com/docs/templating/switch

	Start off your snippet with a case match for your field's
	proper name (case-sensitive). Then build our your code snippets
	with an {{ csMacro.codeBlock(' tag and <pre><code></code></pre> tag blog per snippet.
	Make sure you follow the syntax examples here:

	TODO: github wiki link

	Note that this twig comment blog will be stripped before
	the final /cheatsheet.html file is built
#}

{% case 'Tags' %}

	{{ csMacro.codeBlock('Set a variable for future template use', '
		{% set myTags = '
		~ sampleTag ~ '.' ~ field.handle
		~ ' %}'
	)}}


	{{ csMacro.codeBlock('Check if any tags exist', '
		{% if '
		~ sampleTag ~ '.' ~ field.handle
		~ '|length %} ... {% endif %}'
	)}}


	{{ csMacro.codeBlock('Loop through the selected tags', '
		{% for myTag in '
		~ sampleTag ~ '.' ~ field.handle
		~ ' %}\n'
		~ whitespace
		~ '...\n'
		~ '{% endfor %}'
	)}}


	{{ csMacro.codeBlock('Order by parameters', '
		{% set myTags = '
		~ sampleTag ~ '.' ~ field.handle
		~ '.order(\'title\') %}'
	)}}


	{{ csMacro.codeBlock('Avoid a loop if your field limits to 1 user', '
		{% if '
		~ sampleTag ~ '.' ~ field.handle
		~ '.first() %}\n'
		~ whitespace
		~ '...\n'
		~ '{% endif %}'
	)}}