$headingFont: 'Merriweather', Palatino, Georgia, serif;
$bodyFont: 'Open Sans', 'Gill Sans', 'Gill Sans MT', Verdana, sans-serif;
$codeFont: 'Inconsolata', 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;

