//= include includes/twigSetup.inc.html

<html>
<head>

	<title>{{ cs.pageTitle }} — for {{ siteName }}</title>

	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://raw.githubusercontent.com/dhg/Skeleton/master/css/normalize.css">
	<link rel="stylesheet" href="https://raw.githubusercontent.com/dhg/Skeleton/master/css/skeleton.css">

	<style type="text/css">
		//= include includes/styles.inc.css
	</style>

</head>
<body>

<header id="header">
	<div class="container">
		<div class="row">
			<h1>Field Syntax Cheatsheet</h1>
			<ul>
				<li>Context:</li>
				{% for key, context in cs.tagContexts %}
				<li><a class="context{% if key == cs.currentContext %} activeContext{% endif %}" href="{{ craft.request.url }}?context={{ key }}" data-tag="{{ context.tag }}">{{ context.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</header>

<div class="container">

	<div class="row">

		<div class="three columns">
			<nav>
				<ul>
				{% for field in cs.fields %}
					<li><a href="#{{ field.handle }}">{{ field.name }}</a></li>
				{% endfor %}
				</ul>
			</nav>
		</div>


		<div class="nine columns">

			{% for field in cs.fields %}

{# Dev conditional to single out 1 field while building code #}
{# {% if field.handle == 'customMeta' %} #}

				<h3 id="{{ field.handle }}">{{ field.name }}</h3>
				<p>Type: {{ field.type|replace('/(.)([A-Z])/', '$1 $2') }} (<a href="http://buildwithcraft.com/docs/{{ field.type|replace('/(.)([A-Z])/', '$1-$2')|lower }}-fields">Tag documentation</a> | <a href="{{ cpUrl('/settings/fields/edit/' ~ field.id) }}">View in control panel</a>)</p>

				{# ---------------------------------------------

				Switch statement to build our code samples
				based on the field type

				--------------------------------------------- #}

				{% switch field.type %}

					//= include includes/fieldTypes.inc.html

						<hr/>

					{% default %}

						<p class="todo">No code samples available for this field type yet.</p>
						<hr/>

				{% endswitch %}

{# Dev conditional to single out 1 field while building code #}
{# {% endif %} #}

			{% endfor %}

		</div>
	</div>

	<footer>
		<p>{{ cs.pageTitle }} &emdash; {{ cs.version }}</p>
		<p>Provided by your friends at <a href="http://twitter.com/focuslabllc">Focus Lab</a>.</p>
	</footer>


</div>

<script type="text/javascript">
	//= include includes/scripts.inc.js
</script>

</body>
</html>
{# ---------------------------------------------

The Craft Field Cheat Sheet

Copyright (c) 2015 Focus Lab, LLC

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

--------------------------------------------- #}