//= include includes/twigSetup.inc.html

<html>
<head>

	<title>{{ pageTitle }} — for {{ siteName }}</title>

	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://raw.githubusercontent.com/dhg/Skeleton/master/css/normalize.css">
	<link rel="stylesheet" href="https://raw.githubusercontent.com/dhg/Skeleton/master/css/skeleton.css">

	<style type="text/css">
		//= include includes/styles.inc.css
	</style>

</head>
<body>

<header id="header">
	<div class="container">
		<div class="row">
			<h1>Field Syntax Cheatsheet</h1>
			<ul>
				<li>Context:</li>
				{% for key, context in tagContexts %}
				<li><a class="context{% if key == currentContext %} activeContext{% endif %}" href="{{ craft.request.url }}?context={{ key }}" data-tag="{{ context.tag }}">{{ context.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</header>

<div class="container">

	<div class="row">

		<div class="three columns">
			<nav>
				<ul>
				{% for field in fields %}
					<li><a href="#{{ field.handle }}">{{ field.name }}</a></li>
				{% endfor %}
				</ul>
			</nav>
		</div>


		<div class="nine columns">

			{% for field in fields %}

{# Dev conditional to single out 1 field while building code #}
{# {% if field.handle == 'customMeta' %} #}

				<h3 id="{{ field.handle }}">{{ field.name }}</h3>
				<p>Type: {{ field.type|replace('/(.)([A-Z])/', '$1 $2') }} (<a href="http://buildwithcraft.com/docs/{{ field.type|replace('/(.)([A-Z])/', '$1-$2')|lower }}-fields">Tag documentation</a> | <a href="{{ cpBase }}/settings/fields/edit/{{ field.id }}">View in control panel</a>)</p>

				{# ---------------------------------------------

				Switch statement to build our code samples
				based on the field type

				--------------------------------------------- #}

				{% switch field.type %}

					//= include includes/fieldTypes.inc.html

						<hr/>

					{% default %}

						<p class="todo">No code samples available for this field type yet.</p>
						<hr/>

				{% endswitch %}

{# Dev conditional to single out 1 field while building code #}
{# {% endif %} #}

			{% endfor %}

		</div>
	</div>

	<footer>
		<p>{{ pageTitle }}</p>
		<p>Provided by your friends at <a href="http://twitter.com/focuslabllc">Focus Lab</a>.</p>
	</footer>


</div>

<script type="text/javascript">
	//= include includes/scripts.inc.js
</script>

</body>
</html>